{% extends "page.html.twig" %}

{% block header %}
    {{ parent() }}
    <div class="page-header">
        Posts<span class="primary-color" style="font-size: 1.6em">.</span>
    </div>
{% endblock %}